services:
  postgres:
    image: postgres:18
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: tasksDB
    volumes:
      - postgres_data:/bitnami/postgresql

volumes:
    postgres_data: